
.smartphone {
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
  }

  .buttons
  {
    text-align: center;
    top: 575px;
    position: absolute;
  }

  .button
  {
    width: 40px;
    padding: 5px 21px 5px 21px;
  }

  .boxer{
      position: absolute;
      /*background-color: saddlebrown;*/
      height: 90%;
      width: 100%;
  }

  .caixa_de_usuario{
        text-indent: 5px;
            position: absolute;
      width: 70%;
      height: 20%;
      margin: 15px;
      /*background-color: white;*/
      color: #000000;
      text-align: center;
  }

  .circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu_sanduiche{
    position: absolute;
    top: 30px;
    left: 76%;
    width: 15%;
    height: 15%;
    /*background-color: blue;*/
}

#imagem_user{
    margin: 10px 0px 0px 0px;
    width: 40px;
    height: 40px;
}

p#sportName
{
  top: 535px;
    position: absolute;
    font-weight: bold;
  text-align: center;
  background-color: #ffdd00;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

p#average
{
    color: #ffdd00;
  top: 300px;
    position: absolute;
  text-align: center;
  width: 18%;
  border-radius: 10px;
    font-size: 35px;
    background-color: #000000;
}

.video{
    position: absolute;
    width: 100%;
    height: 95%;
    /*background-color: red;*/
}

div#bets
{
  padding: 100px 1px 1px 70px;
}

#ronaldinho{
    width: 100%;
    height: 100%;
    /*text-align: center;*/
}

#nome_de_user{
    background-color: #ffdd00;
    width: 40%;
    position: absolute;
    top: 18px;
    left: 155px;
      border-radius: 10px;
    border: 2px solid black;
}

#descricao{
    background-color: #ffdd00;
    font-size: 14px;
    position: absolute;
    /*height: 18%;*/
    width: 100%;
    padding: 2px;
    text-align: justify;
    border-radius: 10px;

}

div#graph
{
  width: 12%;
  position: relative;
  padding: 75px 0 0 300px;
}

div#profileDescription
{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 25%;
  left: 18%;
  text-align: center;
}

div#profileChallenges
{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 37%;
  left: 29%;
  text-align: center;
}

div#profileVideos
{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 49%;
  left: 27%;
  text-align: center;
}

div#profileSelo
{
  position: absolute;
  top: 65%;
  left: 15%;
}

div#profileBau
{
  position: absolute;
  top: 65%;
  right: 15%;
}

#botaofaztudo{
    position: absolute;
    width: 60px;
    top: 350px;
    left: 285px;
}

#play{
    position: absolute;
    top: 290px;
    left: 160px;
}