section
{
    background-color: rgb(255, 0, 0);
    /*padding: 250px;*/
    width: 320px;
    height: 480px;
    /*border-radius: 24px;*/
    /*margin: auto;111111*/
    /*box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.422);*/
}